

.karla{
  font-family:"Karla", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.nnn{
    height: 77px;
    width: 200px !important;
}

.nnn1{

    color: black !important;
    font-weight: 650 !important;
    font-family: karla;
    font-size: 18px !important;
    margin-right: 30px;
}



.p2{

  background: linear-gradient( to right bottom ,  #eb1a44 ,  #4f496c);

}


.nnn2{

  color: white !important;
  font-weight: 700 !important;
  font-family: karla;
  font-size: 71px !important;
  
}
.nnn3{

  color: white !important;
  font-weight: 400 !important;
  font-family: karla;
  font-size: 19px !important;
  
}



.nnn4{
  color: white;
  border:2px solid white !important; 
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 10px;
     padding-bottom: 10px;
     
   background-color: transparent;
  font-weight: 650 !important;
  font-family: karla;
  font-size: 18px !important;
  margin-right: 30px;
}



/* parent 3 starts here  */

 .nnn5{
  background-color: #ffffff;


 }

 .nnn6{
 background-color: #fafafa;
  

 }

 .nnn7{
  color: #fe2a57;
  font-family: karla;
  font-weight: bold;
 }

 .nnn8{
  color: black;
  font-family: karla;
  font-weight: bolder;
  font-size: 35px;
 }

 
 .nnn9{

  color: #84888b;
  font-family: karla;
  font-weight: bolder;
  font-size: 18px;
 }

 .nnn10{

  color: #585a5b;
  font-family: karla;
  font-weight: 400;
  font-size: 18px;
 }

 .nnn11{

  color: #323850;
  font-family: karla;
  font-weight: bolder;
  font-size: 30px;
 }

 .nnn12{

  background: linear-gradient(   rgba(100, 214, 125, 0.667) ,  #04c832);
  
 }
 .nnn13{

  background: linear-gradient(   rgba(222, 70, 4, 0.667) ,  #df9a55);
  
 }
 .nnn14{

  background: linear-gradient(   rgba(4, 131, 140, 0.667) ,  #04c832);
  
 }







.mantwo{
  background-color: #180d5b;
  width: 100%;
}

/* parent 3 ends here */



/* parent 4 starts here  */

.nnn15{
  background-color: #f5f5f5;
}


.nnn16{
  color: #bcb9b6;
  font-size: 19px;
  font-family: karla;
}

.nnn17{
  color: black;
  font-size: 35px;
  font-family: karla;
  font-weight: bold;
}


.nnn18{
  color: black;
  font-size: 15px;
  font-family: karla;
  
}


.nnn19{
  height: 64px;
  width: 80px !important;
  
 

}

.nnn20{
  font-family: karla;
  
  

}

.nnn21{
  font-family: karla;
  font-size: 19px;
  
  

}

.nnn22{
  font-family: karla;
  color:#eb1a44;
  font-weight: bolder;
  font-size: 20px
  

}
/* parent 4 ends here  */





/* parent 5 starts here  */


.nnn23{
  background: linear-gradient( 45deg,#4c4a6d, #d91f48);
}


.nnn24{
  font-family: karla;
  font-size: 20px;
}


.nnn25{
  font-family: karla;

  font-size: 38px;
  font-weight: bolder;
}


.nnn26{
  background: linear-gradient( 45deg,#d91f48, #4c4a6d);
  height: 60px;
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}


.nnn27{
  background-color: transparent !important;
  color: white !important;
  border: solid  black 2px;
}


.nnn27:hover{
  background-color: #f2295b !important;
  border: solid 2px;
}
/* parent 5 ends here  */




/* parent 6 starts here */


.nnn28{
  text-align: justify;
  color: black;
  font-family: karla;
  font-weight: bolder;
  font-size: 30px;
 }


 .nnn29{
  text-align: justify;
  color: #585a5b;
  font-family: karla;
  font-weight: 400;
  font-size: 18x;
 }



 .nnn30{
  border:  solid #ff4867 ;
  border-width: 4px !important;
 }

 .nnn31{
  color: #ff4867;
  text-align: center;
  font-family: karla;
  font-size: 30px;
  font-weight: bolder;

 }

 .nnn32{
  
  color: #858585;
  text-align: center;
  font-family: karla;
  font-size: 15px;
  font-weight: bolder;

 }













/* parent 6 ends here */



/* parent 7 starts here */
.nnn33{
  background: linear-gradient( 45deg,#d91f48, #4c4a6d);
}
/* parent 7 ends here */

/* porfolio section */
  .box1{
    height: 600px !important;
    background-image: url(1.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s !important;
  }

  

  .box1:hover,.box1:active{
    background-position: bottom;
  }

  .box2{
    height: 600px !important;
    background-image: url(2.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s !important;
  }
  .box2:hover,.box2:active{
    background-position: bottom;
  }

  .box3{
    height: 600px !important;
    background-image: url(3.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s !important;
  }


  .box3:hover,.box3:active{
    background-position: bottom;
  }
  .box4{
    height: 600px !important;
    background-image: url(4.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s !important;
  }



  .box4:hover,.box4:active{
    background-position: bottom;
  }

  .box5{
    height: 600px !important;
    background-image: url(5.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s !important;
  }


  .box5:hover,.box5:active{
    background-position: bottom;
  }
/* parent 8 starts here  */
.nnn34{
  margin-top: -40px;
}

.nnn35{
  margin-top: -100px;
}

.nnn36{
  margin-top: -80px;
}
/* parent 8 ends here */



/* parent 10 starts here */


.nnn37{
  background-image: url(money-bg.png);
}
.nnn38{
  width: 14% !important;
  color: white;
  border:2px solid white !important; 
    padding-top: 5px;
    padding-bottom: 5px;
     
   background-color: #404e71;
  font-weight: 650 !important;
  font-family: karla;
  font-size: 18px !important;
  
}

/* parent  10 ends here */




/* parent 11 starts here  */


.nnn39{

  background-color: #ec1944;
  padding-top: 30px;
  padding-bottom: 30px;
}


.nnn40{
       font-size: 22px;
 
  color: white;
}
/* parent 11 ends here */




/* parent 12 starts here */

.nnn41{

  background-image: url(footer-bg.png);
  background-color: #404e71;
}

/* parent 12 ends here */


/* parent 13 starts here */


.nnn42{
  background-color: #0d2352;
  padding-top: 30px;
  padding-bottom: 30px
}
/* parent 13 ends here */



